{
    "settings": {
        "auto_index": true,
        "index_length": 10,
        "preview_length": 1,
        "nav_inc_index": true,
        "slug_class": "slug"
    },
    "pages": [
        {
            "output_file": "index.html",
            "input_file": "index.html",
            "title": "Home",
            "name": "Home"
        },
        {
            "output_file": "other.html",
            "input_file": "other.html",
            "title": "Other",
            "name": "Other"
        }
    ]
}
